## /boot/preseed.cfg
#### Debian preconfiguration file (for stretch)
# https://www.debian.org/releases/stable/example-preseed.txt

### Localization
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select us

### Network configuration
d-i netcfg/choose_interface select auto
d-i netcfg/disable_autoconfig boolean true

#d-i netcfg/get_ipaddress string 192.168.1.2
#d-i netcfg/get_netmask string 255.255.255.0
#d-i netcfg/get_gateway string 192.168.1.1
d-i netcfg/get_nameservers string 8.8.8.8
d-i netcfg/confirm_static boolean true

d-i netcfg/get_hostname string debian
d-i netcfg/get_domain string seanho.com

d-i netcfg/wireless_wep string
d-i hw-detect/load_firmware boolean true

### Debian package mirror
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

### Account setup
d-i passwd/make-user boolean false
d-i passwd/root-password-crypted password $6$vzGihL6H$ZsyWJGdmnPNlszvypSHrMdqPF8uX2lnbX3RuJf4ait86lGBaUt7AN6x9y.5tGUu/GabzPHf6.b7F/8I5NembO1

### Clock and time zone setup
d-i clock-setup/utc boolean true
d-i time/zone string US/Pacific
d-i clock-setup/ntp boolean true

## Disk partitioning
#d-i partman-auto/disk string /dev/vda
d-i partman-auto/method string crypto

# Options / confirmations
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto-lvm/guided_size string max
d-i partman-auto-lvm/new_vg_name string deb
d-i partman/default_filesystem string btrfs
d-i partman-crypto/erase_data boolean false
d-i partman-crypto/passphrase password 3ChcPn7nTdjlvLUw6WgH
d-i partman-crypto/passphrase-again password 3ChcPn7nTdjlvLUw6WgH
d-i partman-crypto/weak_passphrase boolean true

# Partition scheme
d-i partman-auto/choose_recipe string crypto-root
d-i partman-auto/expert_recipe string crypto-root :: \
        200 200 200 ext4 \
        $primary{ } $bootable{ } \
        method{ format } format{ } \
        use_filesystem{ } filesystem{ ext4 } \
        mountpoint{ /boot } label{ boot } \
        .\
        256 200% 100% linux-swap \
        $lvmok{ } in_vg{ deb } lv_name{ swap } \
        method{ swap } format{ } \
        .\
        2500 3000 5000 $default_filesystem \
        $lvmok{ } in_vg{ deb } lv_name{ root } \
        method{ format } format{ } \
        use_filesystem{ } filesystem{ $default_filesystem } \
        mountpoint{ / } label{ root } \
        .\
        0 1 -1 $default_filesystem \
        $lvmok{ } in_vg{ deb } lv_name{ data } \
        method{ keep } \
        .\
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

### Package selection
tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/include string sudo python-apt dropbear-initramfs
d-i pkgsel/upgrade select full-upgrade

### Boot loader installation
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string default

#d-i debian-installer/add-kernel-opts string nousb

### Finishing up the installation
d-i finish-install/reboot_in_progress note

